---
import AmenazasVulnerabilidades from "@content/AmenazasVulnerabilidades.astro";
import EcuadorDigital from "@content/EcuadorDigital.astro";
import HerramientasArquitecturaSeguridad from "@content/HerramientasArquitecturaSeguridad.astro";
import TendenciasTecnologicas from "@content/TendeciasTecnologicas.astro";
---

<div id="content" class="bg-gray-800 p-6 rounded-lg shadow-lg">
  <section id="amenazas-vulnerabilidades" class="content-section">
    <AmenazasVulnerabilidades />
  </section>

  <section id="ecuador-digital" class="content-section hidden">
    <EcuadorDigital />
  </section>

  <section id="herramientas" class="content-section hidden">
    <HerramientasArquitecturaSeguridad />
  </section>

  <section id="tendencias" class="content-section hidden">
    <TendenciasTecnologicas />
  </section>
</div>
